/* todo: MANEJAR  */
/*MAYOR BREAKPINTS */
body {
  background: yellow;
}

@media screen and (min-width: 1024px) {
  body {
    background: blue;
  }
}

@media screen and (min-width: 30em) {
  body {
    background: green;
  }
}
